body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #987456;
    
}

h1 {
    font-size: 4.25rem;
    font-family: 'Pacifico', cursive;
}

#playerXh2 { 
    position: absolute;
    top: 15vh;
    left: 20vh;
    font-size: 2.75rem;
    color: #0000cd;
    font-family: 'Pacifico', cursive;
}

#playerOh2 {
    position: absolute;
    top: 15vh;
    right: 20vh;
    font-size: 2.75rem;
    font-family: 'Pacifico', cursive;
}

.gameSquare {
    border: 2px solid black;
    font-size: 5rem;
    padding: 50px;
    height: 75px;
    width: 50px;
    font-family: 'Indie Flower', cursive;
}