body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4rem;
}

#playerXh2 { 
    position: absolute;
    top: 15vh;
    left: 20vh;
    font-size: 2.5rem;
    color: blue;
}

#playerOh2 {
    position: absolute;
    top: 15vh;
    right: 20vh;
    font-size: 2.5rem;
}

.gameSquare {
    border: 2px solid black;
    font-size: 5rem;
    padding: 50px;
    height: 75px;
    width: 50px;
}